* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  font-family: "Helvetica", Helvetica, Sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  height:70vh;
  width:70vh;
  background-color: #000000;

  box-shadow: 0 0 0 1pt white;
  outline: none;
  transition: .1s;

  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  grid-gap: 1px;
}

.message{
  position: fixed;
  text-align: center;
  top: 10px;
  height: 10vh;
  width: 30vw;
  color: white;
  margin: 30px auto auto auto;
}

.leftControls{
  position: relative;
  height:70vh;
  width:25vh;
  background-color: #000000;
  box-shadow: 0 0 0 1pt white;
  outline: none;
  transition: .1s;

  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  grid-gap: 1px;
}

.size{
  text-align: left;
  height: 30px;
  width: 30vw;
  color: white;
  top: 20vh;
  font-size: 15px;
}

.complexity{
  text-align: left;
  height: 30px;
  width: 30vw;
  color: white;
  top: 30vh;
  font-size: 15px;
}

.color{
  text-align: left;
  height: 30px;
  width: 30vw;
  color: white;
  top: 40vh;
  font-size: 15px;
}

.sizeSlider {
  -webkit-appearance: none;
  width: 21vh;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 30px;
  margin-left: 2vh;
}

.sizeSlider:hover {
  opacity: 1;
}

.sizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.sizeSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.complexitySlider {
  -webkit-appearance: none;
  width: 21vh;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 30px;
  margin-left: 2vh;
}

.complexitySlider:hover {
  opacity: 1;
}

.complexitySlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.complexitySlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.colorSlider {
  -webkit-appearance: none;
  width: 21vh;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 30px;
  margin-left: 2vh;
}

.colorSlider:hover {
  opacity: 1;
}

.colorSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7CFC00;
  cursor: pointer;
}

.colorSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

#save{
  position: absolute;
  right: 10vh;
  top: 54vh;
}

.rightControls {
  position: relative;
  float: right;
  height:70vh;
  width:25vh;
  background-color: #000000;
  box-shadow: 0 0 0 1pt white;
  outline: none;
  transition: .1s;

  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  grid-gap: 1px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  cursor: pointer;
  margin: 1vh;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.custom-file-upload:hover{
  opacity: 1;
}

.image-canvas{
  border: 1px solid white;
  margin: 1vh;
  display: flex;
  justify-content: center;
  height: 24vh;
}

#image{
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

#reset{
  position: absolute;
  left: 10vh;
  top: 54vh;
}

input[type='image'] {
  padding: 6px;
  margin: 10px;
  width: 12vh;
  margin-top: 1rem;
  filter: invert(1);
  box-shadow: 0 0 0 1pt black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type='image']:hover{
  opacity: 1;
}
